.navbar {
	color: #ffffff;
	background-color: #494748;
	box-shadow: 0px 10px 15px grey;
	display: block;
	margin-bottom: 20px;
}

.navbar button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	float: left;
	line-height: 65px;
}

.navbar h1 {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
}
