.flexTextInput {
	display: flex;
}

.flexTextInput input {
	border-radius: 50px;
}

.flexTextInput button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	left: -80%;
}

.hidden {
	display: none;
}
